<html>
<head>
    <meta charset="utf-8">
    <title>存档管理</title>
    <head>
        <script src="js/vue.js"></script>
        <script src="js/vue-router.js"></script>
        <script src="js/jquery.min.js"></script>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- 引入组件库 -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    </head>
<body>
<div id="qrc">

    需要存档的文件夹路径
    <el-input v-model="path" placeholder="需要存档的文件夹路径"></el-input>
    存档保存路径
    <el-input v-model="saverPath" placeholder="存档保存路径"></el-input>
    <el-button @click="getFolderName">读取存档保存路径</el-button>
    <template>
        <el-select v-model="value" placeholder="请选择存档">
            <el-option v-for="file in list" :value="file">
            </el-option>
        </el-select>
    </template>
    <el-button @click="archiveFolderCopy" :disabled="archiveBoolean">存档</el-button>
    <el-button @click="unArchiveFolderCopy" :disabled="unArchiveBoolean">读档</el-button>
    <el-button @click="deleteFileFolder" :disabled="deleteBoolean">删除</el-button>
</div>
<script type="text/javascript">
    const vue = new Vue({
        el: "#qrc",
        data: {
            list: null,
            // 选择的存档地址
            value: '',
            // 存档保存路径
            saverPath: "C:\\Users\\lldwb\\Desktop\\Noita",
            // 需要存档的文件夹路径
            path: "C:\\Users\\lldwb\\AppData\\LocalLow\\Nolla_Games_Noita\\save00",
            // 存档
            archiveBoolean: false,
            // 读档
            unArchiveBoolean: false,
            // 删除
            deleteBoolean: false
        },
        methods: {
            // 获取存档列表
            getFolderName() {
                getList();
            },
            // 存档
            archiveFolderCopy() {
                this.archiveBoolean = true;
                $.ajax({
                    url: "archiveFolderCopy",
                    data: {
                        writePath: this.path,
                        readPath: this.saverPath
                    },
                    success() {
                        getList();
                        vue.archiveBoolean = false;
                        vue.$message({
                            message: '存档成功',
                            type: 'success'
                        });
                    }
                });
            },
            // 读档
            unArchiveFolderCopy() {
                this.unArchiveBoolean = true;
                $.ajax({
                    url: "unArchiveFolderCopy",
                    data: {
                        writePath: this.saverPath + '\\' + this.value,
                        readPath: this.path
                    },
                    success() {
                        vue.unArchiveBoolean = false;
                        vue.$message({
                            message: '读档成功',
                            type: 'success'
                        });
                    }
                })
            },
            // 删除
            deleteFileFolder() {
                this.$confirm('此操作将永久删除该存档, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    vue.deleteBoolean = true;
                    $.ajax({
                        url: "deleteFileFolder",
                        data: {
                            path: vue.saverPath + '\\' + vue.value,
                        },
                        success() {
                            vue.deleteBoolean = false;
                            vue.$message({
                                message: '删除存档成功',
                                type: 'success'
                            });
                            getList();
                            vue.value = '';
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            }
        },
        mounted() {
            $.ajax({
                url: "getFolderNameList",
                dataType: "JSON",
                data: {
                    path: vue.saverPath,
                },
                success(result) {
                    console.log(result);
                    vue.list = result;
                }
            })
        }
    });
    const getList = () => {
        $.ajax({
            url: "getFolderNameList",
            dataType: "JSON",
            data: {
                path: vue.saverPath,
            },
            success(result) {
                console.log(result);
                vue.list = result;
            }
        })
    };
</script>
</body>
</html>