<html>
<head>
    <meta charset="utf-8">
    <title>存档管理</title>
    <!-- vue -->
    <script src="js/vue.js"></script>
    <script src="js/vue-router.js"></script>
    <!-- jquery -->
    <script src="js/jquery.min.js"></script>
    <!-- element-ui -->
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="js/element-ui@2.15.13.js"></script>
</head>
<body>
<div id="qrc">
    <el-tabs tab-position="left" height="100%">
        <el-tab-pane>
            <span slot="label"><i class="el-icon-folder"></i> 存档界面</span>

            <el-button type="primary" @click="getFolderName" :disabled="getFolderNameBoolean"
                       icon="el-icon-refresh">刷新
            </el-button>
            <el-button type="success" @click="archiveFolderCopy" :disabled="archiveBoolean"
                       icon="el-icon-document-add">
                存档
            </el-button>
            <el-button type="danger" @click="deleteAllFileFolder" :disabled="deleteBoolean"
                       icon="el-icon-document-delete">
                删除所有
            </el-button>

            <template>
                <el-table :data="list" style="width: 100%" height="90%" stripe>
                    <el-table-column prop="name" :label="tableName" width="250" sortable>
                    </el-table-column>
                    <el-table-column label="操作">
                        <template slot-scope="scope">
                            <el-button size="mini" type="success" @click="unArchiveFolderCopy(scope.row.name)"
                                       :disabled="unArchiveBoolean" icon="el-icon-document-copy">读档
                            </el-button>
                            <el-button size="mini" type="danger" @click="deleteFileFolder(scope.row.name)"
                                       :disabled="deleteBoolean" icon="el-icon-document-remove">删除
                            </el-button>
                        </template>
                    </el-table-column>
                </el-table>
            </template>
        </el-tab-pane>
        <el-tab-pane>
            <span slot="label"><i class="el-icon-setting"></i> 配置管理</span>
            需要存档的文件夹路径
            <el-input v-model="path" placeholder="需要存档的文件夹路径"></el-input>
            存档保存路径
            <el-input v-model="saverPath" placeholder="存档保存路径"></el-input>
            <el-button @click="defaultPath" :disabled="defaultPathBoolean">设置为默认设置</el-button>
        </el-tab-pane>
        <el-tab-pane>
            <span slot="label"><i class="el-icon-user"></i> 用户中心</span>
            <div v-if="!user.verification">
                <el-button type="primary" @click="login">登录</el-button>
                <el-button type="primary" @click="registration">注册</el-button>
            </div>
            <div v-if="user.verification">
                <el-button type="success" @click="backupFolder" :disabled="backupFolderBoolean"
                           icon="el-icon-document-add">云备份
                </el-button>
                <el-button type="success" @click="restoreFolder" :disabled="restoreFolderBoolean"
                           icon="el-icon-document-add">云恢复
                </el-button>
                <div>id:{{user.id}}</div>
                <div>用户名:{{user.name}}</div>
                <div><i class="el-icon-message"></i>邮箱:{{user.mail}}</div>
                <div>
                    <div v-if="user.state==0">未邮箱认证</div>
                    <div v-if="user.state==1">通过认证</div>
                    <div v-if="user.state==2">注销</div>
                </div>
                <div>远程访问秘钥:{{user.key}}</div>
            </div>
        </el-tab-pane>
    </el-tabs>
</div>
</body>
<script type="text/javascript">
    const getList = vueRouter => {
        vueRouter.getFolderNameBoolean = true;
        $.ajax({
            url: "getFolderNameList",
            dataType: "JSON",
            data: {
                path: vueRouter.saverPath,
            },
            success(result) {
                // console.log(result);
                vueRouter.list = result;
                vueRouter.tableName = "存档列表(已有" + vueRouter.list.length + "个存档)";
                vueRouter.getFolderNameBoolean = false;
                vueRouter.$message({
                    message: '已刷新',
                    duration: 1000,
                    type: 'success'
                });
            }
        })
    };
    const vue = new Vue({
        el: "#qrc",
        data: {
            list: null,
            // 存档列表名字设置
            tableName: "",
            // 需要存档的文件夹路径
            path: "",
            // 存档保存路径
            saverPath: "",

            // 用户数据
            user: {
                // id
                id: null,
                // 用户名
                name: null,
                // 邮箱
                mail: null,
                // 用户状态(0未邮箱认证,1通过认证,2注销)
                state: null,
                // 远程访问秘钥
                key: null,
                // 是否有用户数据
                verification: false
            },

            // 存档
            archiveBoolean: false,
            // 读档
            unArchiveBoolean: false,
            // 刷新
            getFolderNameBoolean: false,
            // 删除相关按钮
            deleteBoolean: false,
            // 默认设置
            defaultPathBoolean: false,
            // 云备份
            backupFolderBoolean: false,
            // 云恢复
            restoreFolderBoolean: false
        },
        methods: {
            // 获取存档列表
            getFolderName() {
                getListVue();
            },
            // 存档
            archiveFolderCopy() {
                this.archiveBoolean = true;
                $.ajax({
                    url: "archiveFolderCopy",
                    data: {
                        writePath: this.path,
                        readPath: this.saverPath
                    },
                    success() {
                        getListVue();
                        vue.archiveBoolean = false;
                        vue.$message({
                            message: '存档成功',
                            type: 'success'
                        });
                    }
                });
            },
            // 读档
            unArchiveFolderCopy(name) {
                this.unArchiveBoolean = true;
                $.ajax({
                    url: "unArchiveFolderCopy",
                    data: {
                        writePath: this.saverPath + '\\' + name,
                        readPath: this.path
                    },
                    success() {
                        vue.unArchiveBoolean = false;
                        vue.$message({
                            message: '读档成功',
                            type: 'success'
                        });
                    }
                })
            },
            // 删除
            deleteFileFolder(name) {
                this.$confirm('此操作将永久删除该存档, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    vue.deleteBoolean = true;
                    $.ajax({
                        url: "deleteFileFolder",
                        data: {
                            path: vue.saverPath + '\\' + name,
                        },
                        success() {
                            vue.deleteBoolean = false;
                            vue.$message({
                                message: '删除存档成功',
                                type: 'success'
                            });
                            getListVue();
                            vue.value = '';
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            // 删除所有
            deleteAllFileFolder() {
                this.$confirm('此操作将永久删除所有存档, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    vue.deleteBoolean = true;
                    $.ajax({
                        url: "deleteFileFolder",
                        data: {
                            path: vue.saverPath,
                            boolean: true
                        },
                        success() {
                            vue.deleteBoolean = false;
                            vue.$message({
                                message: '删除成功',
                                type: 'success'
                            });
                            getListVue();
                            vue.value = '';
                        }
                    })
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },
            // 默认设置
            defaultPath() {
                this.defaultPathBoolean = true;
                $.ajax({
                    url: "setDefaultPath",
                    data: {
                        readPath: this.path,
                        writePath: this.saverPath
                    },
                    success() {
                        vue.defaultPathBoolean = false;
                        vue.$message({
                            message: '设置成功',
                            type: 'success'
                        });
                    }
                })
            },
            // 跳转到注册页面
            registration() {
                location.href = 'registration.html';
            },
            // 跳转到登录页面
            login() {
                location.href = 'login.html';
            },
            // 云备份
            backupFolder() {
                this.backupFolderBoolean = true;
                $.ajax({
                    url: "backupFolder",
                    data: {
                        key: this.user.key,
                        path: this.saverPath
                    },
                    dataType: "JSON",
                    success(result) {
                        getListVue();
                        vue.backupFolderBoolean = false;
                        vue.$message({
                            message: '云备份成功',
                            type: 'success'
                        });
                    }
                })
            },
            // 云恢复
            restoreFolder() {
                this.restoreFolderBoolean = true;
                $.ajax({
                    url: "restoreFolder",
                    data: {
                        key: this.user.key,
                        path: this.saverPath
                    },
                    dataType: "JSON",
                    success() {
                        getListVue();
                        vue.restoreFolderBoolean = false;
                        vue.$message({
                            message: '云恢复成功',
                            type: 'success'
                        });
                    }
                })
            }
        },
        mounted() {
            $.ajax({
                url: "getDefaultPath",
                dataType: "JSON",
                success(result) {
                    // 源地址
                    vue.path = result.readPath;
                    // 存档路径
                    vue.saverPath = result.writePath;

                    getList(vue);
                }
            }),

                // 去后端发起判断是否注册成功
                $.ajax({
                    url: "getSession",
                    dataType: "JSON",
                    data: {
                        key: "user"
                    },
                    success(result) {
                        if (result != null) {
                            // id
                            vue.user.id = result.userId;
                            // 用户名
                            vue.user.name = result.userName;
                            // 邮箱
                            vue.user.mail = result.userMail;
                            // 用户状态(0未邮箱认证,1通过认证,2注销)
                            vue.user.state = result.userState;
                            // 远程访问秘钥
                            vue.user.key = result.userKey;
                            // 有用户数据
                            vue.user.verification = true;
                        }
                        console.log(result)
                    }
                });
        }
    });
    const getListVue = () => {
        getList(vue);
    };
</script>
</html>
