<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace指定接口的完整类名 -->
<mapper namespace="top.lldwb.noitaSaverServer.dao.MailVerificationCodeDao">
    <select id="getMailVerificationCodeByCodeMail"
            resultType="mailVerificationCode">
        select *
        from mailVerificationCode
        where mailVerificationCode_code =
              #{code}
          and mailVerificationCode_email = #{mail};
    </select>

    <insert id="setMailVerificationCode" parameterType="mailVerificationCode">
        insert into mailVerificationCode(mailVerificationCode_email, mailVerificationCode_code)
        values (#{mailVerificationCodeEmail}, #{mailVerificationCodeCode});
    </insert>
</mapper>