<html>
<head>
    <meta charset="utf-8">
    <title>存档管理</title>
    <head>
        <script src="js/vue.js"></script>
        <script src="js/vue-router.js"></script>
        <script src="js/jquery.min.js"></script>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- 引入组件库 -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    </head>
<body>
<div id="qrc">
    <input type="file" id="file" webkitdirectory directory/>
    <button @click="button()"></button>
    <template>
        <el-select v-model="value" placeholder="请选择存档">
            <el-option
                    v-for="file in list"
                    :value="file">
            </el-option>
        </el-select>
    </template>
</div>

<script type="text/javascript">
    const vue = new Vue({
        el: "#qrc",
        data: {
            list: null,
            value: '',
            path: "G:\\"
        },
        methods: {
            button() {
                this.path = document.getElementById('file').value;
                console.log(this.path);
                $.ajax({
                    url: "getFolderNameList",
                    dataType: "JSON",
                    data: {
                        path: this.path,
                    },
                    success: function (result) {
                        console.log(result);
                        vue.list = result;
                    }
                })
            }
        },
        mounted:
            $.ajax({
                url: "getFolderNameList",
                dataType: "JSON",
                data: {
                    path: "G:\\",
                },
                success: function (result) {
                    console.log(result);
                    vue.list = result;
                }
            }),
    });
</script>
</body>
</html>
