<html>
<head>
    <meta charset="utf-8">
    <title>存档管理</title>
    <head>
        <script src="js/vue.js"></script>
        <script src="js/vue-router.js"></script>
        <script src="js/jquery.min.js"></script>
        <!-- 引入样式 -->
        <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
        <!-- 引入组件库 -->
        <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    </head>
<body>
<div id="qrc">
    <template>
        <el-select v-model="value" placeholder="请选择存档">
            <el-option
                    v-for="file in list"
                    :value="file">
            </el-option>
        </el-select>
    </template>
</div>

<script type="text/javascript">
    const vue = new Vue({
        el: "#qrc",
        data: {
            list: null,
            value:''
        },
        methods: {
            s() {
            }
        },
        mounted() {
            $.ajax({
                url: "getFolderNameList",
                dataType: "JSON",
                data: {
                    path: "C:\\Users\\lldwb\\Desktop\\Noita",
                },
                success: function (result) {
                    console.log(result);
                    vue.list = result;
                }
            });
        },

    });
</script>
</body>
</html>
